.game-container {
    height: 100vh;
    background: var(--ion-color-warning-tint);
    color: var(--ion-color-warning-tint);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;

    .go-home {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 30px;
    }

    &__question {
        background: var(--ion-color-dark);
        color: var(--ion-color-warning-tint);
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    &__keyboard {
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            background: var(--ion-color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin: .5rem;
            box-sizing: border-box;
            border: 10px solid var(--ion-color-dark);
        }

        div:active {
            border: 10px solid green;
        }

        &__del, &__ok {
            text-transform: uppercase;
            font-size: 1rem;
        }

        &__del {
            color: var(--ion-color-danger);
        }

        &__ok {
            color: var(--ion-color-success);
        }

        .disabled {
            pointer-events: none;
            opacity: .9;
        }
    }

}
