.game-container {
    height: 100vh;
    background: var(--ion-color-warning-tint);
    color: var(--ion-color-warning-tint);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;

    &__time-line {
        height: 5vh;
        background-color: var(--ion-color-dark);
        box-sizing: border-box;
        border: 1px solid var(--ion-color-warning-tint);
        display: flex;
        flex-wrap: nowrap;
        justify-content: stretch;

        div {
            display: flex;
            background: var(--ion-color-danger-shade);
            width: 100%;
            margin: 5px;
        }
    }

    .go-home {
        position: absolute;
        top: 8px;
        left: 5px;
        font-size: 30px;
        color: var(--ion-color-dark);
        background: var(--ion-color-warning-tint);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-over {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0%;
        display: flex;
        background-color: var(--ion-color-dark);
        z-index: 3;

        &__btn {
            width: 40vw;
            margin: 15px 0;
            --color: var(--ion-color-primary-contrast);
            --background: var(--ion-color-tertiary-tint);
        }
    }

    .round {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
    }

    &__question {
        background: var(--ion-color-dark);
        color: var(--ion-color-warning-tint);
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    &__keyboard {
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            background: var(--ion-color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin: .5rem;
            box-sizing: border-box;
            border: 10px solid var(--ion-color-dark);
        }

        div:active {
            border: 10px solid green;
        }

        &__del, &__ok {
            text-transform: uppercase;
            font-size: 1rem;
        }

        &__del {
            color: var(--ion-color-danger);
        }

        &__ok {
            color: var(--ion-color-success);
        }

        .disabled {
            pointer-events: none;
            opacity: .9;
        }
    }

}
