.game-container {
    height: 100vh;
    background: var(--ion-color-warning-tint);
    color: var(--ion-color-warning-tint);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;

    &__time-line {
        height: 5vh;
        background: #ff0000;
        box-sizing: border-box;
        border: 1px solid var(--ion-color-warning-tint);
        display: flex;
        flex-wrap: nowrap;
        justify-content: stretch;
    }

    .go-home {
        position: absolute;
        top: 8px;
        left: 5px;
        font-size: 30px;
        color: var(--ion-color-dark);
        background: var(--ion-color-warning-tint);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .game-over {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0%;
        display: flex;
        background-color: var(--ion-color-dark);
        z-index: 3;
    }

    .round {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 30px;
    }

    &__question {
        background: var(--ion-color-dark);
        color: var(--ion-color-warning-tint);
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    &__answer-reaction {
        height: 35vh;
        width: 100%;
        position: absolute;
        background: #ff0000;
        opacity: 0;
    }

    &__keyboard {
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            background: var(--ion-color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            margin: .5rem;
            box-sizing: border-box;
            border: 10px solid var(--ion-color-dark);
            transition: .3s all ease;
            font-size: 2rem;
        }

        div:active {
            box-shadow: 0 0 10px yellow inset;
        }

        &__del, &__ok {
            text-transform: uppercase;
        }

        &__del {
            color: var(--ion-color-danger);
        }

        &__ok {
            color: var(--ion-color-success);
        }

        #del:active {
            box-shadow: 0 0 10px var(--ion-color-danger) inset;
        }

        #ok:active {
            box-shadow: 0 0 10px var(--ion-color-success) inset;
        }

        .disabled {
            pointer-events: none;
            opacity: .9;
        }
    }

}
