<ion-content [fullscreen]="true">
  <div class="game-container">
    <div routerLink="/menu" 
         class="go-home">
      <
    </div>
    <div class="game-over"
         *ngIf="gameIsOver">
      <ion-button routerLink="/menu" 
                  (click)="resetGame()"
                  class="game-over__btn">
        go to menu
      </ion-button>
      <ion-button (click)="resetGame(true)"
                  class="game-over__btn">
        restart
      </ion-button>
    </div>
    <div class="round">
      {{round}} / {{settingsService.roundLength}}
    </div>
    <div class="game-container__question">
      {{num1}} {{operator}} {{num2}} = {{answer}}
      <div #answerReaction class="game-container__answer-reaction"></div>
    </div>
    <div class="game-container__time-line" 
         [ngStyle]="{'width.%': secondsCount / settingsService.secondsOnAnswer * 100}">
    </div>
    <div class="game-container__keyboard">
      <div *ngFor="let num of keyboardNums" 
           (click)="pushInAnswer(num+1)">
        {{num+1}}
      </div>
      <div 
        class="game-container__keyboard__del"
        id="del"
        (click)="resetAnswer()">
        del
      </div>
      <div (click)="pushInAnswer(0)">0</div>
      <div 
        class="game-container__keyboard__ok"
        id="ok"
        (click)="sendAnswer()"
        [ngClass]="{'disabled': !answer}">
        ok
      </div>
    </div>
  </div>
</ion-content>