.settings {
    background: var(--ion-color-dark);
    color: var(--ion-color-warning-tint);
    height: 100vh;

    &__header {
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }

    &__warning {
        font-size: 16px;
        text-align: center;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }

    &__button {
        display: flex;
        border: 1px solid var(--ion-color-warning-tint);
        border-radius: 5px;
        min-width: 5rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 4px white;
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__subheader {
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        margin-top: 10px;
    }

    &__round-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__round-count {
        padding: 0 5px;
    }

    &__round-btn {
        --color: var(--ion-color-primary-contrast);
        --background: var(--ion-color-tertiary-tint);
        max-width: 10vw;
    }

    &__operator {
        margin: 10px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--ion-color-warning-tint);
        font-size: 20px;
        border-radius: 5px;
        transition: .5s all ease;
        color: var(--ion-color-warning-tint);
        background: var(--ion-color-dark);
    }

    .selected {
        color: var(--ion-color-dark);
        background: var(--ion-color-warning-tint);
    }

    
}