<ion-content [fullscreen]="true">
  <div class="settings">

    <div class="settings__header">
      Settings
    </div>

    <div class="settings__btn-and-warning">
      <h2 class="settings__warning"
        *ngIf="!this.settingsService.selectedOperators.length">
      Please select at least one operator
      </h2>

      <div class="settings__buttons">
        <div routerLink="/game"
            class="basic-button"
            *ngIf="this.settingsService.selectedOperators.length">
          play
        </div>
      </div>
    </div>

    <div class="settings__subheader">Operators</div>
    <div class="settings__options">
      <div class="settings__operator" 
        (click)="setOperatorsState(operator)" 
        *ngFor="let operator of operatorsForRender"
        [ngClass]="{'selected': operatorsState[operator]}">
        {{operator}}
      </div>
    </div>

    <div class="settings__subheader">Round count</div>
    <div class="settings__set-container">
      <div
        class="basic-button set-btn" 
        (click)="setCounts(false, 'roundLength')"
        [ngClass]="{'not-active': settingsService.roundLength < 2}">
        -
      </div>
        <div class="settings__set-count">
        {{settingsService.roundLength}}
        </div>
      <div 
        class="basic-button set-btn"
        (click)="setCounts(true, 'roundLength')">
        +
      </div>
    </div>

    <div class="settings__subheader">Time on answer</div>
    <div class="settings__set-container">
      <div
        class="basic-button set-btn" 
        (click)="setCounts(false, 'secondsOnAnswer')"
        [ngClass]="{'not-active': settingsService.secondsOnAnswer < 6}">
        -
      </div>
        <div class="settings__set-count">
        {{settingsService.secondsOnAnswer}} sec
        </div>
      <div 
        class="basic-button set-btn"
        (click)="setCounts(true, 'secondsOnAnswer')">
        +
      </div>
    </div>

  </div>
</ion-content>