.settings {
    background: var(--ion-color-dark);
    color: var(--ion-color-warning-tint);
    height: 100vh;

    &__header {
        font-size: 2.5rem;
        text-align: center;
        padding: 20px;
    }

    &__btn-and-warning {
        min-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__warning {
        font-size: 1.5rem;
        text-align: center;
        color: #ff0000;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
    }

    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__subheader {
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
        margin-top: 10px;
    }

    &__set-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__set-count {
        font-size: 1.5rem;
        padding: 0 5px;
    }

    &__operator {
        margin: 10px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--ion-color-warning-tint);
        font-size: 20px;
        border-radius: 5px;
        transition: .5s all ease;
        color: var(--ion-color-warning-tint);
        background: var(--ion-color-dark);
    }

    .selected {
        color: var(--ion-color-dark);
        background: var(--ion-color-warning-tint);
    }

    
}