.game-container {
    height: 95vh;
    background: var(--ion-color-dark);
    color: var(--ion-color-warning-tint);
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &__question {
        background: var(--ion-color-dark);
        color: var(--ion-color-warning-tint);
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
    }

    &__keyboard {
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
