/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: 'Staatliches', cursive;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.not-active {
    opacity: .5;
    pointer-events: none;
    transition: .5s all ease;
}

.hide {
    opacity: 0;
}

.basic-button {
    display: flex;
    border: 1px solid var(--ion-color-warning-tint);
    border-radius: 5px;
    min-width: 7rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px var(--ion-color-secondary-contrast);
    margin: 10px;
    font-size: 3rem;
    color: var(--ion-color-dark);
    background: var(--ion-color-warning-tint);
}

.m10 {
    margin: 10vh;
}