.menu {
    background: var(--ion-color-dark);
    color: var(--ion-color-warning-tint);
    height: 100vh;

    &__header {
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }

    &__buttons {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
        font-size: 18px;
    }
}