.menu {
    background: var(--ion-color-dark);
    color: var(--ion-color-warning-tint);
    height: 100vh;

    &__header {
        font-size: 25px;
        text-align: center;
        padding: 20px;
    }

    &__buttons {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vh;
        font-size: 20px;
    }
    
    &__button {
        display: flex;
        border: 1px solid var(--ion-color-warning-tint);
        border-radius: 5px;
        min-width: 5rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 4px white;
    }
}